* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

/* Header Section */
header {
    background-color: #1F2937;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    display:flex;
    gap: 20px;
}

/* Main Section */
main {
    display: flex;
    justify-content: space-around;
    height: 500px;
    align-items: stretch;
    padding:70px 200px;
    gap:80px;
    flex: 1 1 50%;
    flex-wrap: wrap;
}

main .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    flex: 1;
}
main .right {
    display:flex;
    flex: 1;
    background-color: grey;
    justify-content: center;
}

main .right p {
    display:flex;
    justify-content: center;
    align-items: center;
}

.button-signup {
    font-weight: 400;
    color: #F9FAF8;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-color: #3882F6;
    width: 200px;
    /* height: 150px; */
}

/* Info Section */
info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 100px 0; */
    height: 500px;
    gap:20px;
}
.cards {
    display:flex;
    justify-content: center;
    gap: 18px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.card-box {
    border: 4px solid #3882F6;
    border-radius: 5px;
    height: 150px;
    width: 150px;
}

/* Quote Section */
.quote-section {
    display:flex;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 400px;
    padding: 100px 200px 70px 200px;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color:#1F2937;
    font-weight: 100;
}

.quote-source {
    font-weight: 800;
    align-self: end;
    font-size: 24px;
}

/* --------------------- Action Section --------------------- */

action {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    padding: 100px 200px;

}

.call-box {
    background-color: #3882F6;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 100%;
}

.button-action {
    border: 3px solid #F9FAF8;
    border-radius: 6px;
    width: 200px;
    height: 50px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 24px;
}

.call-box .left .header-logo {
    font-weight: 900;
}


/* ------------------ Footer ------------------ */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 200px;
}



/* Colors and Fonts  --------------------------------------*/
/* Dark Section */
.dark-background {
    background-color: #1F2937;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

/* Light Section */
.button {
    background-color: #3882F6;
}

.info-text {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}



.subtext {
    color: grey;
    font-size: 12px;
    text-align: center;
}